@import "./mixins";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --blue: #4864ff;
  --bg-color: #fff;
  --text-color1: #000;
  --text-color2: #555;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.wrapper {
  width: 100%;
  padding: 2rem;
  min-height: calc(100vh - 60px);
}
.content {
  @include d-flex(column, flex-start, center);
  gap: 2rem;
}
.app {
  color: var(--text-color1);
  background-color: var(--bg-color);
  transition: all 0.3s ease-in-out;

  &.dark {
    --bg-color: #000;
    --text-color1: #fff;
    --text-color2: #999;
  }
}
.status-blue {
  background-color: #87CEEB !important;
}
.status-yellow {
  background-color: #FFFFE0 !important; /* Light yellow */
}

.status-pink {
  background-color: #ffe6f7 !important; /* Light pink */
}

.status-red {
  background-color: #FA8072 !important; /* Light red */
}
.tag-blue {
  background-color: #87CEEB !important;
}
.tag-yellow {
  background-color: #FFFFE0 !important; /* Light yellow */
}

.tag-pink {
  background-color: #ffe6f7 !important; /* Light pink */
}

.tag-red {
  background-color: #FA8072 !important; /* Light red */
}